.abc{
    background: url(https://pn-paul.netlify.app/image/CONTACT-US.jpg);
    width: 100%;
    height: 620px;
    background-size: cover;
    background-position: center;
}
.a{
    color: white;
    text-align: center!important;
    font-size: 60px;
    margin-top: 270px;
    font-family: 'pargue';
}
.b{
    font-size: 25px;
    font-weight: lighter;
    font-family: unset;
    margin-top: 40px;
}