
.abc{
    background: url(https://pn-paul.netlify.app/image/press-new-1.jpg);
    width: 100%;
    height: 630px;
    background-position: center;
    background-size: cover;

}
.a{
    color: white;
    font-size: 62px;
    margin-top: 280px;
    text-align: center;
    font-family: 'pargue'
}