.abc{
    background: url(https://pn-paul.netlify.app/image/new-our-team.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}
.a{
    color: white;
    text-align: center !important;
    font-family: 'pargue';
    font-size: 60px;
    margin-top: 260px;
}
.b{
    line-height: 35px;
    word-spacing: 1px;
    letter-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}
.photo1{
    background: url(https://pn-paul.netlify.app/image/YPAshok.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
}
.photo2 {
    background-image: url(https://pn-paul.netlify.app/image/B.R.-Sachdeva.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
  }
  .photo3 {
    background-image: url(https://pn-paul.netlify.app/image/Sagar-Bajaj.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
  }
  .photo4 {
    background-image: url(https://pn-paul.netlify.app/image/JAY-PHOTO-1-1.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
  }
  .photo5 {
    background-image: url(https://pn-paul.netlify.app/image/vibhutiPR.jpg);
    width: 100%;
    height: 8.8cm;
    background-position: center;
    background-size: cover;
  }
